@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$font-family-Roboto: "Roboto", "Helvetica", "Arial", sans-serif;

*{
  font-family: $font-family-Roboto;
}

html{
  font-size: 62.5%;
}

h2 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.35417em;
}

p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.35417em;
}
