.app__card {

  background-color: #fff;
  border-radius: 4px;
  padding: 16px 24px;
  max-width: 345px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  &__weather {
    min-width: 345px;
    .temp {
      font-size: 2.5rem;
      &.deg:after {
        content: "\00b0";
      }
    }
  }
}
