.app__header{
  left: 0;
  position: fixed!important;
  right: 0;
  top: 0;
  z-index: 200;

  .app__container {
     align-items: center;
     display: flex;
     flex-wrap: wrap;
     height: 100%;
   }

   &__menu{
     display: flex;
     width: 100%;
   }

  #menu-btn {
      position: relative;
      top: 15px;
      left: 30px;
      display: block;
      width: 35px;
      height: 50px;
      cursor: pointer;
      background: none;
      border: none;
      transition: transform .3s;

      span {
          position: absolute;
          top: 50%;
          left: 0;
          display: table;
          width: 100%;
          height: 4px;
          margin-top: -2px;
          background-color: #333333;
          font-size: 0;
          outline: 1px solid #2f3238;
          user-select: none;
          transition: background-color .3s;

          &:before, &:after{
              position: absolute;
              left: 0;
              width: 100%;
              height: 100%;
              background: #333;
              content: '';
              outline: 1px solid #2f3238;
              transition: transform .3s;
          }

          &:before {
              transform: translateY(-250%);
          }

          &:after {
              transform: translateY(250%);
          }

      }

      &.menu-btn-open span {
          background: transparent;
          outline: none;

          &:before {
              transform: translateY(0) rotate(45deg);
              outline: none;
          }
          &:after {
              transform: translateY(0) rotate(-45deg);
              outline: none;
          }
      }

  }

  &__drawer{
    visibility: collapse;
    list-style-type: none;
    margin-top: 2rem;
    &.active{
      visibility: visible;
      border-bottom: 1px solid #333;
      border-top: 1px solid #333;
      padding: 16px 24px;
    }
    a{
      font-size: 16px;
      color: #333;
      text-decoration: none;
      &:active,&:focus,&:hover{
        text-decoration: underline;
      }
    }
  }

}
