.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: 1 !important;
  position: relative;
  transition: opacity 0.5s;

  &__main {
    min-height: calc(100vh - #{$footer-height});
    padding-top: $header-height;
  }

  &__route {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
  }

  &__container {
    margin: 0 auto;
  }

  &__cancel {
    text-align: center;
  }

  .flex{
    display: flex;
    &-full_width{
      width: 100%;
    }
    &-right{
      justify-content: flex-end;
    }
    &-wrap{
      flex-wrap: wrap;
    }
  }
}
